@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> localizer
<aside id="sideBar" class="main-sidebar sidebar-dark-primary">
    <a href="/" class="brand-link">
        <img src="./images/images.png" id="brand-logo" alt="logo" class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-light" style="font-size:0.8em!important">TRUCKRR</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            @localizer["Dashboard"]
                            <span class="right badge badge-danger">@localizer["New"]</span>
                        </p>
                    </a>
                </li>
               @* @if (User.IsInRole("SuperAdmin"))
                {
                    <li  class="nav-header">@localizer["Admin"]</li>
                    <li is-active-route asp-area="Admin" class="nav-item has-treeview"  >
                        <a is-active-route asp-area="Admin" class="nav-link" style="background-color:red">
                            <i class="nav-icon fas fa-user"></i>
                            <p >
                                @localizer["Admin Settings"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="User" class="nav-link" >
                                    <i class="far fa-user-circle nav-icon"></i>
                                    <p>@localizer["Users"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="Role" class="nav-link" >
                                    <i class="far fa-user-circle nav-icon"></i>
                                    <p>@localizer["Roles"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="Role" class="nav-link" >
                                    <i class="far fa-user-circle nav-icon"></i>
                                    <p>@localizer["driverlist"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="Role" class="nav-link">
                                    <i class="far fa-user-circle nav-icon"></i>
                                    <p>@localizer["Vendor list "]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-header">@localizer["Master"]</li>
                <li is-active-route asp-area="Utilities" class="nav-item has-treeview">
                    <a is-active-route asp-area="Utilities" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            @localizer["Utlities"]
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active-route class="nav-link">
                                <i class="far fa-file-archive nav-icon"></i>
                                <p>@localizer["Document1"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-route class="nav-link">
                                <i class="far fa-file-archive nav-icon"></i>
                                <p>@localizer["Document2"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-route class="nav-link">
                                <i class="far fa-file-archive nav-icon"></i>
                                <p>@localizer["Document3"]</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li is-active-route asp-area="Catalog" class="nav-item has-treeview">
                    <a is-active-route asp-area="Catalog" class="nav-link">
                        <i class="nav-icon fas fa-archive"></i>
                        <p>
                            @localizer["Catalog"]
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>*@
                   @* <ul class="nav nav-treeview">*@
                        @*<li class="nav-item">
                            <a is-active-route asp-area="Catalog" asp-controller="Product" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@localizer["PRODUCT"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-route asp-area="Catalog" asp-controller="Brand" class="nav-link" >
                                <i class="far fa-circle nav-icon"></i>
                                <p>@localizer["Brand"]</p>
                            </a>
                        </li>*@
                        <li class="nav-item">
                            <a is-active-route asp-area="Catalog" asp-controller="Vendor" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@localizer["Vehicle"]</p>
                            </a>
                        </li>
                       <li class="nav-item">
                            <a is-active-route asp-area="Catalog" asp-controller="Driver" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@localizer["Driver"]</p>
                            </a>
                        </li>
                       
               @*     </ul>*@
               @* </li>*@
            </ul>
        </nav>
    </div>
</aside>